# string methods

In [1]:
a='''hello
i am
bharathi'''
print(a)

hello
i am
bharathi

In [2]:
a="""hello
i am
bharathi"""
print(a)

hello
i am
bharathi

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [5]:
b="hello turtle"
print("turtle" in b)
print("z" not in b)

True
True

In [17]:
b=" HellO TURtle "
print(b[2:5])
print(b.upper())
print(b.lower())
print(b.strip())

ell
 HELLO TURTLE
 hello turtle
HellO TURtle

In [12]:
b="HellO ,TURtle,"
print(b.split(","))
print(b.replace("H","C"))

['HellO ', 'TURtle', '']
CellO ,TURtle,

In [13]:
quantity=3
age=20
name='hanuman'
myid="my name is {2} i am {1} old quantity i want {0}"
print(myid.format(quantity,age,name))

my name is hanuman i am 20 old quantity i want 3

In [16]:
c="HeLLo HANUman"
print(c.capitalize())
print(c.casefold())
print(c.center(20))
print(c.startswith("hello"))
print(c.endswith("man"))
print(c.find("o"))
print(c.index("o"))
print(c.swapcase())
print(c.isalpha())
print(c.isalnum())
print(c.isdecimal())
print(c.isdigit())
print(c.isupper())
print(c.islower())
print(c.isspace())

Hello hanuman
hello hanuman
   HeLLo HANUman
False
True
4
4
hEllO hanuMAN
False
False
False
False
False
False
False

# list methods

In [20]:
a=["hel",23,56.90,'bp']
print(a)
print(len(a))
print(a[1])
print(a[1:3])
print(a[-1])
a[1]=2
print(a)

['hel', 23, 56.9, 'bp']
4
23
[23, 56.9]
bp
['hel', 2, 56.9, 'bp']

In [21]:
a=list(("hel",23,56.90,'bp'))
print(a)

['hel', 23, 56.9, 'bp']

In [54]:
a=['a','b','c','d']
a.append('t')
print(a)
b=a.copy()
print(b)
print(a.count('b'))
print(a.index('c'))
b.reverse()
print(b)
a.sort()
print(a)
b.clear()
print(b)
a.insert(2,"j")
print(a)

['a', 'b', 'c', 'd', 't']
['a', 'b', 'c', 'd', 't']
1
2
['t', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 't']
[]
['a', 'b', 'j', 'c', 'd', 't']

In [53]:
a=['a','b','c','d']
g=['h','i']
a.append(g)
print(a)

['a', 'b', 'c', 'd', ['h', 'i']]

In [51]:
b=['a','v']
c=['c','h']
b.extend(c)
print(b)
b.sort()
print(b)

['a', 'v', 'c', 'h']
['a', 'c', 'h', 'v']

In [50]:
a=['a','b','c','d']
a.pop(2)
print(a)
a.pop()
print(a)
a.remove('b')
print(a)

['a', 'b', 'd']
['a', 'b']
['a']

# tuple methods

In [59]:
tup1=('1','2','3','2','1','2')
tup2=tuple(('1','2','3','2','1','2'))
print(tup1)
print(tup2)
print(tup1.count('2'))
print(tup1.index('2'))

('1', '2', '3', '2', '1', '2')
('1', '2', '3', '2', '1', '2')
3
1

# set methods

In [62]:
set1={'1',3,'hello','3' ,3}
set2=set(('1',3,'hello','3' ,3))
print(set1)
print(set2)
set2.clear()
print(set2)

{'1', 3, '3', 'hello'}
{'1', 3, '3', 'hello'}
set()

In [72]:
set3={'a','b','c'}
set3.add('d')
print(set3)
set4=set3.copy()
print(set4)
set4.discard('d')
print(set4)
s5=set3.difference(set4)
print(s5)
s6=set3.intersection(set4)
print(s6)
s6.pop()
print(s6)
s6.remove('a')
print(s6)

{'b', 'a', 'c', 'd'}
{'b', 'a', 'c', 'd'}
{'b', 'a', 'c'}
{'d'}
{'b', 'a', 'c'}
{'a', 'c'}
{'c'}

# dictionary methods

In [4]:
dict1={1:'a',2:'b',3:'c'}
print(dict1)

{1: 'a', 2: 'b', 3: 'c'}

In [13]:
dict2=dict(age=10, clas = 20)
print(dict2)

{'age': 10, 'clas': 20}

In [19]:
d1={1:'a',2:'b',3:'c'}
print(d1)
d2=d1.copy()
print(d2)
d1.get(2)
d1.keys()

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

dict_keys([1, 2, 3])

In [20]:
d1={1:'a',2:'b',3:'c'}
print(d1)
d1.values()

{1: 'a', 2: 'b', 3: 'c'}

dict_values(['a', 'b', 'c'])

In [21]:
d1={1:'a',2:'b',3:'c'}
print(d1)
d1.items()

{1: 'a', 2: 'b', 3: 'c'}

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [22]:
d1={1:'a',2:'b',3:'c'}
print(d1)
d1.pop(2)
print(d1)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 3: 'c'}

In [23]:
d1={1:'a',2:'b',3:'c'}
print(d1)
d1.popitem()
print(d1)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b'}

In [24]:
d1={1:'a',2:'b',3:'c'}
print(d1)
d1.update({4:'d'})
print(d1)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}